.box-set {
    position: relative;
    height: 125px;
    background:gray;
    text-align: center;
}

.box {
    position: relative;
    width: 150px;
    float: left;
}

.name {
    top: 25.5%;
    left: 7%;
    padding-top: 75px;
    border-bottom: 25px;
    height: 50px;
    font-size: xx-large;
    color: white;
    margin-bottom: -32px;
    margin-top: -32px;
    background:#4aaaa5;
}

.About {
    top: 75%;
    left: 42.5%;
    padding-bottom: 25px;
    color: blue;
    float: left;
}

.Portfolio {
    top: 75%;
    left: 40%;
    float: left;
}

.Contact {
    top: 75%;
    left: 38%;
    color: blue;
    float: left;
}

#main {
    margin-left: 10%;
    margin-right: 10%;
    padding: 1%;
    background:#ffffff;
    border-color:#dddddd;
}

hr {
    border-width: 2px;
}

p {
    font-size: 20px; 
    color: #777777; 
    font-family:Arial, Helvetica, sans-serif; 
}


